Analisador de Curriculos Code.json
{
  "name": "Analisador de Curriculos",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Vaga de Programção",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nome",
              "requiredField": true
            },
            {
              "fieldLabel": "Currículo ",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -288,
        144
      ],
      "id": "9d18a159-9d1b-415f-8227-685bc8b5d1a9",
      "name": "On form submission",
      "webhookId": "e3f2078a-c01c-42e4-b090-6c7b2e9ab911"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        192,
        496
      ],
      "id": "5777ed8d-6d6e-4f5c-8d27-2ca20ced78ef",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "SeAih8AOJvV7GXj9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Curr_culo_",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -80,
        144
      ],
      "id": "77dda2d2-b02c-440c-a7e6-b37b5534acd8",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        208,
        96
      ],
      "id": "f4fac7df-2c24-48d7-8b20-14573f277eec",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "SeAih8AOJvV7GXj9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"match\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        128
      ],
      "id": "1128308f-3134-4d20-b43a-6fe02ea3aee1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=crie uma analise qualitativa desse Curr_culo_ aqui: \nPegue o Nome e o resumoa\n{{ $json.text }}",
        "options": {
          "systemMessage": "Pegue tambem o nome do Candidato\nVocê é um avaliador de currículo para a área de desenvolvedor de software (python).\nAnalise o currículo fornecido e gere uma analise  qualitativa resumida (4-5)\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        176,
        304
      ],
      "id": "96fb4e59-315e-4ee3-a7e9-5dd6b59d3b17",
      "name": "Resumo"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=O currículo do candidato é esse:\n\n{{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um avaliador de currículo para a área de Desenvolvimento de Sistemas (python)\ncom base nos requisitos da vaga, responda apenas com JSON:\n{\"match\":true} se o curriculo combina ou  {\"match\":false} caso ao contrario "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        -80
      ],
      "id": "67b122fa-7726-4a0d-84a3-349a6e4bb618",
      "name": "match"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        80
      ],
      "id": "1efca336-54de-4b02-85d9-c226f2791757",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "edda011c-2a26-4190-bed2-e77c6e8634cd",
              "name": "Match",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -80
      ],
      "id": "b9b5a0e5-ea53-4e04-a6d8-508f7240a54a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1zVe6iS0z18WudT-15atZgsjzAcUdHDkaZ2-V4OyVYwI/edit?usp=drivesdk",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zVe6iS0z18WudT-15atZgsjzAcUdHDkaZ2-V4OyVYwI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome": "={{ $json.nome }}",
            "Match": "={{ $json.Match.match }}",
            "resume": "={{ $json.resumo }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Match",
              "displayName": "Match",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resume",
              "displayName": "resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1072,
        80
      ],
      "id": "104787be-195c-4464-8fb0-ac524ec18af8",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZzQADaNvpjguj5WZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "032e8ce1-b5b9-4fac-837c-23f65c17bbd1",
              "leftValue": "={{ $json.Match.match }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "2fc02a1a-c9e6-4b09-ab90-dc4b4b266797",
              "leftValue": "={{ $json.nome }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "925b0cd1-be02-4bd7-8f44-ab438a9ea520",
              "leftValue": "={{ $json.resumo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        848,
        80
      ],
      "id": "9b311f55-4c74-4d00-8e52-7dfa4b58838b",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "\nlet texto = (items[0].json.output || \"\").trim();\n\n\ntexto = texto.replace(/^.*Aqui está uma análise qualitativa resumida do currículo de/si, \n                      \"Aqui está uma análise qualitativa resumida do currículo de\");\n\n\n\nconst nomeMatch = texto.match(/currículo de\\s+([^:]+):/i);\nconst nome = nomeMatch ? nomeMatch[1].trim() : \"\";\n\n\nlet resumo = texto.replace(/Aqui está uma análise qualitativa resumida do currículo de[^:]+:/i, \"\").trim();\n\nreturn {\n  nome,\n  resumo\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        240
      ],
      "id": "2d946f19-4ec3-4a91-bfdf-e71a80b436ac",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Resumo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "match",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Resumo",
            "type": "main",
            "index": 0
          },
          {
            "node": "match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "match",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "match": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumo": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "851a0843-6b5f-4da7-aae0-f4e99dfe37f7",
  "meta": {
    "instanceId": "a7b5753f258c89dbc8f1a931f5e561571806d5941196e100d3164306fd53737d"
  },
  "id": "l26uYHADohylCoLS",
  "tags": []
}